<div class="w-[100%]">
    <div class="mx-auto">
        <app-search (searchTermValue)="onSearchTermChange($event)" [count]="filteredRecipes|filter:selectedOption" />

    </div>
    <div class="flex justify-end  mb-4">
        <div class="col">
            filter <br>
            <select name="filter" class="outline-dotted border-gray-300"  [(ngModel)]="selectedOption">
                <option value="all">All</option>
                <option [value]="recipe" *ngFor="let recipe of recipeCategory">{{recipe}}</option>
            </select>
        </div>
    </div>
    <div class=" w-full row-auto flex flex-wrap gap-2 md:gap-0 overflow-y-scroll h-[600px]">
        <app-recipe-item *ngFor="let recipe of filteredRecipes|filter:selectedOption"
            [recipe]="recipe"></app-recipe-item>
    </div>
</div>